/* Common */

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif !important;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 575px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

h1 {
    letter-spacing: 1px;
    font-size: 39px;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

h6 {
    font-size: 14px;
    font-weight: 600;
}

p {
    color: #7a8691;
}

.with-shadow {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.rounded {
    border-radius: 5px;
}

.logo-image {
    width: 118px;
    height: 32px;
}

/* Buttons */

.btn {
    border-width: 0;
    padding: 0 33px;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
}

.btn-small {
    padding: 0 20px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}

.btn-primary {
    background-color: #5131a9;
}

.btn-primary:hover {
    background-color: #3b1f8a;
}

.btn:not(:disabled):not(.disabled):active {
    background-color: #2e1573;
}

/* Header */

.navbar {
    height: 80px;
}

.navbar .nav-item.nav-link {
    padding: 0;
    line-height: 42px;
    margin: 0 25px;
    text-align: center;
}

.navbar .nav-item.btn {
    margin-left: 25px;
}

.header-cover {
    background: no-repeat center url("img/cover.jpg");
    background-size: cover;
    height: 400px;
}

@media (max-width: 991px) {
    .navbar-collapse {
        background: rgba(255, 255, 255, 0.90);
        backdrop-filter: blur(3px);
        margin: 0 -15px;
        border-radius: 5px;
    }

    .navbar .nav-item {
        margin: 20px;
    }
}

/* Main content */

.info-container {
    padding: 64px 20px;
}

.info-container h1, .info-container p {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.info-container h1 {
    margin-bottom: 20px;
}

.articles-container {
    padding-bottom: 45px;
}

.article-block {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.article-date {
    position: absolute;
    color: white;
    top: 16px;
    left: 18px;
    padding: 6px 15px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.3);
}

.article-block .article-image img {
    object-fit: cover;
    width: 100%;
    height: 310px;
}

.article-block-small .article-image img {
    height: 220px;
}

@media (max-width: 991px) {
    .article-block .article-image img {
        height: auto;
    }
}

.article-info {
    text-align: center;
    padding: 25px 20px 75px;
}

.article-info p {
    margin: 15px 0 25px;
}

.article-info .btn {
    position: absolute;
    margin: 0 auto;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.subscribe-container {
    background: #f8fafd;
    padding: 115px 20px 120px;
}

.subscribe-container h2, .subscribe-container p {
    text-align: center;
}

.subscribe-container p {
    max-width: 456px;
    margin: 20px auto 50px;
}

.subscribe-field-wrapper {
    display: flex;
    align-items: stretch;
    background: white;
    padding: 6px 6px 6px 20px;
    max-width: 456px;
    margin: 0 auto;
    font-size: 14px;
}

.subscribe-field {
    flex: 1;
    border: none;
    outline: none;
}

.subscribe-button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: no-repeat center url("img/subscribe-button.png");
    background-size: contain;
}

/* Footer */

.footer-container {
    border-top: 1px solid #eeeeee;
    font-size: 14px;
    line-height: 25px;
}

@media (max-width: 575px) {
    .footer-container {
        font-size: 16px;
    }
}

.footer-info-container {
    padding: 65px 0 32px;
}

.footer-info-container h6 {
    margin-top: 5px;
}

.footer-list {
    list-style: none;
    padding-top: 3px;
    padding-left: 0;
    color: #7a8691;
}

.footer-list li {
    margin: 5px 0;
}

.footer-list.marked li:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 11px;
    background: no-repeat center url("img/arrow.png");
    background-size: contain;
    margin-right: 16px;
}

.footer-list a {
    color: #7a8691;
}

.footer-company-info {
    margin-top: 20px;
    max-width: 350px;
}

@media (max-width: 992px) {
    .footer-company-info {
        max-width: none;
    }
}

.footer-copyright-container {
    text-align: center;
    border-top: 1px solid #eeeeee;
    padding: 25px 20px;
}

.footer-copyright-container p {
    margin: 0;
}